.Rectangle166 {
    border: none;
    width: 365px;
    height: 37px;
    left: 1092px;
    top: 320px;
    position: absolute;
    background: #E1F6FF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    color: rgba(0, 0, 0, 0.70);
    font-size: 20px;
    font-family: Roboto;
    font-weight: 400;
    word-wrap: break-word;
  }
  
  .Rectangle955 {
    width: 29px;
    height: 36px;
    left: 1157px;
    top: 160px;
    position: absolute;
    background: #047393;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    cursor: pointer;
  }
  
  .RegistrarArchivo {
    width: 275px;
    height: 20px;
    color: white;
    font-size: 20px;
    font-family: Roboto;
    font-weight: 400;
    word-wrap: break-word;
    align-content: center;
  }
  .Rectangle977 {
    width: 296px;
    height: 36px;
    left: 130px;
    top: 460px;
    position: absolute;
    background: #047393;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    cursor: pointer;
    position: absolute;
   
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    color: rgba(0, 0, 0, 0.70);
    font-size: 20px;
    font-family: Roboto;
    font-weight: 400;
    word-wrap: break-word;
  }
  .Rectangle978 {
    width: 296px;
    height: 36px;
    left: 520px;
    top: 456px;
    position: absolute;
    background: #047393;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    cursor: pointer;
    position: absolute;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    color: rgba(0, 0, 0, 0.70);
    font-size: 20px;
    font-family: Roboto;
    font-weight: 400;
    word-wrap: break-word;
  }
  .RegistrarNuevoEmpleado {
    width: 275px;
    height: 20px;
    color: white;
    font-size: 20px;
    font-family: Roboto;
    font-weight: 400;
    word-wrap: break-word;
    align-content: center;
  }
  
  .AgregarNuevoEmpleado {
    width: 540px;
    height: 37px;
    left: 98px;
    top: 161px;
    position: absolute;
    color: black;
    font-size: 30px;
    font-family: Roboto;
    font-weight: 400;
    word-wrap: break-word;
  }
  .Rectangle186 {
    border: none;
    width: 365px;
    height: 37px;
    left: 609px;
    top: 466px;
    position: absolute;
    background: #E1F6FF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    color: rgba(0, 0, 0, 0.70);
    font-size: 20px;
    font-family: Roboto;
    font-weight: 400;
    word-wrap: break-word;
  }
  .Rectangle165 {
    width: 365px;
    height: 36px;
    left: 480px;
    top: 360px;
    position: absolute;
    background: #E1F6FF;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    color: rgba(0, 0, 0, 0.70);
    font-size: 20px;
    font-family: Roboto;
    font-weight: 400;
    word-wrap: break-word;
  }
  .Rectangle164 {
    border: none;
    width: 365px;
    height: 37px;
    left: 609px;
    top: 352px;
    position: absolute;
    background: #E1F6FF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    color: rgba(0, 0, 0, 0.70);
    font-size: 20px;
    font-family: Roboto;
    font-weight: 400;
    word-wrap: break-word;
  }
  .Rectangle163 {
    border: none;
    width: 365px;
    height: 37px;
    left: 480px;
    top: 300px;
    position: absolute;
    background: #E1F6FF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    color: rgba(0, 0, 0, 0.70);
    font-size: 20px;
    font-family: Roboto;
    font-weight: 400;
    word-wrap: break-word;
  }
  .Rectangle168 {
    border: none;
    width: 365px;
    height: 37px;
    left: 1085px;
    top: 239px;
    position: absolute;
    background: #E1F6FF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    color: rgba(0, 0, 0, 0.70);
    font-size: 20px;
    font-family: Roboto;
    font-weight: 400;
    word-wrap: break-word;
  }
  .Rectangle162 {
    width: 365px;
    height: 37px;
    left: 479px;
    top: 237px;
    position: absolute;
    background: #E1F6FF;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    color: rgba(0, 0, 0, 0.70);
    font-size: 20px;
    font-family: Roboto;
    font-weight: 400;
    word-wrap: break-word;
  }
  .Rectangle161 {
    width: 365px;
    height: 38px;
    left: 98px;
    top: 468px;
    position: absolute;
    background: #E1F6FF;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    color: rgba(0, 0, 0, 0.70);
    font-size: 20px;
    font-family: Roboto;
    font-weight: 400;
    word-wrap: break-word;
  }
  .Rectangle160 {
    width: 365px;
    height: 37px;
    left: 98px;
    top: 411px;
    position: absolute;
    background: #E1F6FF;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    color: rgba(0, 0, 0, 0.70);
    font-size: 20px;
    font-family: Roboto;
    font-weight: 400;
    word-wrap: break-word;
  }
  .Rectangle159 {
    width: 365px;
    height: 37px;
    left: 98px;
    top: 354px;
    position: absolute;
    background: #E1F6FF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border: none;
    color: rgba(0, 0, 0, 0.70);
    font-size: 20px;
    font-family: Roboto;
    font-weight: 400;
    word-wrap: break-word;
  }
  .Rectangle158 {
    width: 365px;
    height: 37px;
    left: 98px;
    top: 297px;
    position: absolute;
    background: #E1F6FF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border: none;
    color: rgba(0, 0, 0, 0.70);
    font-size: 20px;
    font-family: Roboto;
    font-weight: 400;
    word-wrap: break-word;
  }
  .Rectangle97 {
    width: 365px;
    height: 37px;
    left: 98px;
    top: 239px;
    position: absolute;
    background: #E1F6FF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border: none;
    color: rgba(0, 0, 0, 0.70);
    font-size: 20px;
    font-family: Roboto;
    font-weight: 400;
    word-wrap: break-word;
  }
  .Rectangle789 {
    width: 365px;
    height: 37px;
    left: 98px;
    top: 360px;
    position: absolute;
    background: #E1F6FF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border: none;
    color: rgba(0, 0, 0, 0.70);
    font-size: 20px;
    font-family: Roboto;
    font-weight: 400;
    word-wrap: break-word;
  }
  .Rectangle157 {
    width: 1459px;
    height: 490px;
    left: 32px;
    top: 125px;
    position: absolute;
    background: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
  }
  
  .Rectangle196 {
    width: 580px;
    height: 420px;
    left: 870px;
    top: 180px;
    position: absolute;
    background: #E1F6FF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
  }
  
  .FotoDelEmpleado {
    width: 222px;
    height: 19px;
    left: 1159px;
    top: 393px;
    position: absolute;
    color: rgba(0, 0, 0, 0.70);
    font-size: 24px;
    font-family: Roboto;
    font-weight: 400;
    word-wrap: break-word;
  }
  .SAdmin {
    width: 153px;
    height: 69px;
    background: #0C789C;
  }
  
  .alert-container {
    margin-bottom: 20px; /* Espacio entre las alertas y otros elementos */
    position: relative; /* Establecer el posicionamiento relativo */
    z-index: 999; /* Asegurar que las alertas estén en la parte delantera */
    width: auto;
}

  /* Ajustes de estilo para las alertas individuales */
  .MuiAlert-filledSuccess {
    background-color: #4caf50; /* Color de fondo para alertas de éxito */
    color: #fff; /* Color del texto para alertas de éxito */
  }
  
  .MuiAlert-filledInfo {
    background-color: #2196f3; /* Color de fondo para alertas de información */
    color: #fff; /* Color del texto para alertas de información */
  }
  
  .MuiAlert-filledWarning {
    background-color: #ff9800; /* Color de fondo para alertas de advertencia */
    color: #fff; /* Color del texto para alertas de advertencia */
  }
  
  .MuiAlert-filledError {
    background-color: #f44336; /* Color de fondo para alertas de error */
    color: #fff; /* Color del texto para alertas de error */
  }
  
  