* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}

.v141_16 {
  width: 96%;
  height: 522px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 139px;
  left: 31px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v141_17 {
  width: 270px;
  height: 41px;
  background: transparent; /* Cambiamos el fondo a transparente */
  border: none; /* Eliminamos el borde */
  position: absolute;
  top: 167px;
  left: 57px;
  box-shadow: none; /* Eliminamos la sombra */
  overflow: hidden;
}
.v141_18 {
  width: 250px;
  color: rgba(0, 0, 0, 0.7);
  position: relative;
  top: 159px; /* Alineamos el campo de entrada con el recuadro */
  left: 50px; /* Alineamos el campo de entrada con el recuadro */
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
  background: rgba(225, 246, 255, 1); /* Agregamos un fondo al campo de entrada */
  border-radius: 10px; /* Agregamos bordes redondeados */
  padding: 10px; /* Agregamos espacio interno */
}
.v141_23 {
  width: 80px;
  height: 80px;
  background: url("./images/v141_23.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 180px;
  left: 57px;
  overflow: hidden;
}
.v141_24 {
  width: 257px;
  color: rgba(0,0,0,1);
  position: relative;
  top: 120px;
  left: 165px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
 
}
.v141_27 {
  width: 00px;
  height: 50px;
  background: rgba(4,115,147,1);
  opacity: 1;
  position: relative;
  top: 180px;
  left: 10px;
  border-radius: 30px; /* Simplificación para todos los bordes */
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  cursor: pointer; /* Cambio del cursor al puntero */
}

.v141_28 {
  width: 245px;
  height: 40px;
  color: rgba(255,255,255,1);
  position: relative;
  top: 50px;
  left: 490px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: center;
  text-decoration: none; 
  border: none;
  cursor: pointer; /* Cambio del cursor al puntero */
}


.v141_72 {
  width: 229px;
  height: 40px;
  background: rgba(225,246,255,1);
  opacity: 1;
  position: relative;
  top: 175px;
  left: 343px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v141_73 {
  width: 250px;
  color: rgba(0,0,0,0.699999988079071);
  position: absolute;
  top: 168px;
  left: 310px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v141_74 {
  width: 229px;
  height: 40px;
  background: rgba(225,246,255,1);
  opacity: 1;
  position: absolute;
  top: 162px;
  left: 620px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v141_75 {
  width: 250px;
  color: rgba(0,0,0,0.699999988079071);
  position: absolute;
  top: 168px;
  left: 570px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v141_76 {
  width: 229px;
  height: 40px;
  background: rgba(225,246,255,1);
  opacity: 1;
  position: absolute;
  top: 162px;
  left: 896px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v141_77 {
  width: 250px;
  color: rgba(0,0,0,0.699999988079071);
  position: absolute;
  top: 168px;
  left: 830px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v141_78 {
  width: 229px;
  height: 40px;
  background: rgba(225,246,255,1);
  opacity: 1;
  position: absolute;
  top: 162px;
  left: 1170px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v141_79 {
  width: 250px;
  color: rgba(0,0,0,0.699999988079071);
  position: absolute;
  top: 168px;
  left: 1090px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v141_80 {
  width: 229px;
  height: 40px;
  background: rgba(225,246,255,1);
  opacity: 1;
  position: absolute;
  top: 162px;
  left: 1170px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v141_81 {
  width: 130px;
  color: rgba(0,0,0,0.699999988079071);
  position: absolute;
  top: 168px;
  left: 1350px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
