* {
    box-sizing: border-box;
  }
  body {
    font-size: 14px;
  }
  .v283_4 {
    width: 100%;
    height: 100%;
    background: rgba(12,120,156,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  
  .v141_9 {
    width: 100%;
    height: 80px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }
  .v141_10 {
    width: 100px;
    height: 63px;
    background: url("./images/v141_10.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 8px;
    left: 12px;
    overflow: hidden;
  }
  .v141_11 {
    width: 59px;
    height: 60px;
    background: url("./images/circulo-de-usuario.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 11px;
    left: 1444px;
    overflow: hidden;
    
  }
  .v141_12 {
    width: 52px;
    height: 50px;
    background: url("./images/garaje\ \(1\).png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 15px;
    left: 1329px;
    overflow: hidden;
  }
  .v141_13 {
    width: 51px;
    height: 50px;
    background: url("./images/sonrisa-mas.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 15px;
    left: 1247px;
    overflow: hidden;
  }
  .v141_14 {
    width: 52px;
    height: 50px;
    background: url("./images/navegador\ \(1\).png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 15px;
    left: 1164px;
    overflow: hidden;
  }
  .v141_15 {
    width: 52px;
    height: 50px;
    background: url("./images/calendario-reloj.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 15px;
    left: 1082px;
    overflow: hidden;
  }
  .acpacitaciones {
    width: 52px;
    height: 50px;
    background: url("./images/multiple.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 15px;
    left: 1010px; /* Ajusta la posición horizontal según sea necesario */
    overflow: hidden;
}

.Capacitaciones {
    width: 52px;
    height: 50px;
    background: url("./images/evaluacion.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 15px;
    left: 940px; /* Ajusta la posición horizontal según sea necesario */
    overflow: hidden;
}

.Solicitudes {
  width: 52px;
  height: 50px;
  background: url("./images/sobre-texto-abierto\ \(1\).png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 870px;
  overflow: hidden;
}

  .tooltip-container {
    position: relative;
  }
  
/* NarBar.css */

/* Estilos para la ventana emergente de información del usuario */
.usuarioVentanaEmergente {
  position: absolute;
  top: calc(100% + 10px); /* Posición justo debajo del icono de usuario */
  left: calc(50% - 200px); /* Centrar horizontalmente */
  background-color: white;
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  z-index: 1000;
  width: 400px; /* Ancho inicial */
  height: 800px; /* Altura inicial */
  overflow-y: auto; /* Agregar scroll vertical si es necesario */
}

.usuarioVentanaEmergente .contenido {
  text-align: left;
  top: 20px;
}

/* Estilos para el botón de cerrar sesión */
.actions-button {
  width: 200px;
  height: 40px;
  margin-top: 20px;
  background-color:#047393; /* Cambia el color del botón a azul */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.actions-button:hover {
  background-color: darkblue; /* Cambia el color al pasar el cursor sobre el botón */
}
