.usuario {
  position: absolute;
  width: 160px;
  height: 160px;
  left: 90px;
  top: 39px;
}

.nombreEmpleado {
  position: absolute;
  width: 274px;
  height: 32px;
  left: 80px;
  top: 220px;
  font-family: Roboto;
  font-size: 18px;
}

.dias {
  position: absolute;
  width: 230px;
  height: 33px;
  left: 52px;
  top: 378px;
  background-color: #E1F6FF;
  border-radius: 10px;
  font-family: Roboto;
  font-size: 14px;
  border: none;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}


.solicitarContrato:hover,
.solicitar:hover {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); /* Add shadow on hover */
}

.rectanguloInterior {
  position: absolute;
  width: 280px;
  height: 465px;
  left: 1200px;
  top: 165px;
  background-color: #D9EBF3;
  border-radius: 20px;
}

.rectangulo2 {
  position: absolute;
  width: 1070px;
  height: 465px;
  left: 60px;
  top: 165px;
  background-color: #D9EBF3;
  border-radius: 20px;
}

.solicitarVacaciones {
  position: absolute;
  text-align: center;
  left: 4px;
  top: 50px;
  border-radius: 10px;
  font-family: Roboto;
  font-size: 40px;
}

.primerDia {
  position: absolute;
  width: 180px;
  height: 33px;
  left: 50px;
  top: 248px;
  background-color: #E1F6FF;
  border-radius: 10px;
  font-family: Roboto;
  font-size: 14px;
  border: none;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.ultimoDia {
  position: absolute;
  width: 180px;
  height: 33px;
  left: 50px;
  top: 310px;
  background-color: #E1F6FF;
  border-radius: 10px;
  font-family: Roboto;
  font-size: 14px;
  border: none;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.solicitar {
  position: absolute;
  width: 154px;
  height: 40px;
  left: 70px;
  top: 400px;
  background-color: #047393;
  border-radius: 30px;
  color: #FFFFFF;
  font-family: Roboto;
  font-size: 14px;
  border: none;
  box-shadow: none;
}

.ventanaEmergente {
  position: absolute;
  width: 283px;
  height: 167px;
  left: 1100px;
  top: 110px;
  background-color: #FFFFFF;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.ventanaEmergente .contenido {
  padding: 20px;
}

.ventanaEmergente .contenido h3 {
  font-size: 16px;
  margin-bottom: 10px;
}

.ventanaEmergente .contenido p {
  font-size: 12px;
  margin-bottom: 10px;
}

.usuarioVentanaEmergente {
  position: absolute;
  width: 283px;
  height: 200px;
  left: 1185px;
  top: 110px;
  background-color: #FFFFFF;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.usuarioVentanaEmergente .contenido {
  padding: 20px;
}

.usuarioVentanaEmergente .contenido h3 {
  font-size: 16px;
  margin-bottom: 10px;
}

.usuarioVentanaEmergente .contenido p {
  font-size: 12px;
  margin-bottom: 10px;
}
